<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cjt2325.cameralibrary">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>

        <!-- 视频拍摄 -->
        <activity
            android:name="com.cjt2325.cameralibrary.JCameraViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullThemeCamera" />

    </application>

</manifest>
